*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.headingstyle {
    text-align: center;
    color: white;
    background-color: darkkhaki;
    font-size: 3rem;
    padding:20px;

}

.card{
    width: 300px;
    display: inline-block;
    background-color: darkolivegreen;
    color: whitesmoke;
    padding: 20px;
    margin: 10px;
    border: 3px solid darkolivegreen;
    border-radius: 10px;
    box-shadow: 6px 5px 26px rgb(38, 249, 6);
}

.cardtitle{
    font-size: 2rem;
    text-align: center;
}

.cardbody{
    margin: 10px;
    font-size: 1rem;
    text-align: center;
}

.carddate{
    margin: 10px;
    font-weight: bolder;
    text-align: center;
}
