*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading{
    background-color: burlywood;
    color: rgb(121, 128, 20);
    font-size: 20px;
    text-align: center;
    padding: 16px;
}

.card{
    display: inline-block;
    width: 300px;
    padding: 16px;
    margin: 15px;
    color: aliceblue;
    background-color: rgb(84, 80, 87);
}
